*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

body {
  color: #505050;
  font-family: "IBM Plex Serif";
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container__content {
  max-width: 970px;
  margin: 0 auto;
}

.section-line {
  border-bottom: 5px bold rgba(236, 184, 76, 0.5);
}

.title {
  font-family: "Lobster";
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #4e5665;
}

.header__top {
  background-image: url(../images/header.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.header__top-inner {
  border: 2px solid #ecb84c;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

.header__title {
  font-family: "Lobster";
  text-shadow: 6px 2px 3px #000;
  font-size: 200px;
  line-height: 227px;
  margin: auto;
}

.header__text {
  font-family: "Lobster";
  font-size: 30px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: -12px;
}

.header__text::after,
.header__text::before {
  content: "";
  border-top: 2px solid #ecb84c;
  width: 100%;
}

.header__text::before {
  margin-right: 30px;
}

.header__text::after {
  margin-left: 30px;
}

/* .menu {
  border-bottom: 5px bold rgba(173, 130, 44, 0.5);
} */

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list-link {
  padding: 24px 10px 20px;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  color: #909090;
  margin: 0 6px;
  border-bottom: 4px solid transparent;
}

.menu__list-link:hover {
  color: #2d2e30;
  border-bottom: 4px solid #ecb84c;
  transition: 0.5s;
}

.reason {
  padding: 80px 0 0;
}

.reason__title {
  margin-bottom: 22px;
}

.reason__text {
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

.reason__link {
  text-align: right;
}

.reason__link a {
  color: #ecb84c;
  font-weight: bold;
  margin-bottom: 36px;
}

.reason__statisics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.reason__statisics-item {
  padding: 50px 70px;
  text-align: center;
}

.reason__statisics-num {
  font-weight: 700;
  color: #4e5665;
}

.reason__statisics-text {
  font-size: 14px;
  font-weight: 700;
  color: #909090;
  line-height: 17px;
}

.about {
  padding-top: 80px;
}

.about__title {
  margin-bottom: 13px;
}

.about__text {
  margin-bottom: 72px;
}

.about__item {
  margin-bottom: 100px;
  padding: 70px;
  background-repeat: no-repeat;
  background-position: right;
}

.about__item:nth-child(even) {
  background-position: left;
}

.about__item:nth-child(even) .about__box {
  margin-left: auto;
}

.about__box {
  padding: 33px 40px 18px 40px;
  background-color: #fff;
  max-width: 470px;
  position: relative;
}

.about__box::before,
.about__box::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
}

.about__box::before {
  border-top: 2px solid #ecb84c;
  border-left: 2px solid #ecb84c;
  left: 10px;
  top: 10px;
}

.about__box::after {
  border-bottom: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
  right: 10px;
  bottom: 10px;
}

.abou_box-title {
  font-size: 24px;
  line-height: 25px;
  color: #4e5665;
  margin-bottom: 20px;
}

.about__preview-title {
  margin-bottom: 100px;
}

.about__preview-text {
  margin: 53px auto 80px;
}

.about__images-box {
  position: relative;
}

.about__dot {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(236, 184, 76, 0.75);
  position: absolute;
}

.about__dot--1 {
  top: 120px;
  left: 140px;
}

.about__dot--2 {
  top: 120px;
  right: 650px;
}

.about__dot--3 {
  top: 70px;
  right: 374px;
}

.about__dot--4 {
  bottom: 20px;
  right: 290px;
}

.about__dot::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffd600;
  top: 29%;
  left: 28%;
  transform: translate(-50% -50%);
  cursor: pointer;
}

.about__dot::before {
  content: "";
  position: absolute;
  background-image: url(../images/line1.svg);
  width: 244px;
  height: 122px;
  top: -113px;
  left: 25px;
  display: none;
}

.about__dot-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #505050;
  white-space: nowrap;
  position: absolute;
  top: -140px;
  left: 150px;
  display: none;
}

.about__dot:hover::before {
  display: block;
}

.about__dot:hover .about__dot-text {
  display: block;
}

.photo {
  padding: 80px 0;
}

.photo__title {
  margin-bottom: 42px;
}

.photo__text {
  padding-bottom: 48px;
  margin-bottom: 56px;
  position: relative;
}

.photo__text::after {
  position: absolute;
  content: "";
  width: 270px;
  height: 1px;
  background-color: #d0d4d8;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.photo__slider {
  max-width: 640px;
  margin: 0 auto;
  transition: 0.3s;
}

.photo__slider:hover {
  box-shadow: 10px 10px 20px #797171;
}

.slick-arrow {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ecb84c;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  outline: none;
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}

.footer {
  background-color: #f8f8f8;
  padding: 55px 0 32px;
}

.footer__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__item {
  width: 140px;
}

.footer__item--blog {
  width: 300px;
}

.footer__item--company {
  width: 300px;
  padding-left: 120px;
}

.footer__copy {
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__item-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 50px;
}

.footer__item-link {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 5px;
}

.footer__item-link--social {
  padding-left: 22px;
}

.footer__item-link--message {
  background-image: url(../images/one.svg);
  background-repeat: no-repeat;
}
.footer__item-link--facebook {
  background-image: url(../images/two.svg);
  background-repeat: no-repeat;
}
.footer__item-link--instagram {
  background-image: url(../images/three.svg);
  background-repeat: no-repeat;
}
.footer__item-link--youtube {
  background-image: url(../images/four.svg);
  background-repeat: no-repeat;
}
.footer__item-link--email {
  background-image: url(../images/five.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .header__title {
    font-size: 120px;
  }

  .header__text {
    font-size: 19px;
  }
  .menu__list-link {
    font-size: 6px;
  }
  .about__images-box {
    display: none;
  }

  .about__preview {
    position: relative;
  }

  .little_cad {
    background-image: url(../images/cadillac1.png);
    width: 250px;
    height: 71px;
    position: absolute;
    background-repeat: no-repeat;
    top: 86px;
    left: 60px;
  }

  .about__preview-text {
    padding-top: 70px;
  }

  .photo__slider {
    max-width: 350px;
  }

  .footer__items {
    display: block;
    
  }

  .footer__item {
    width: 100%;
    padding-right: 0;
    padding-bottom: 25px;
  }
.footer__item--company {
    padding-left: 3px;


}
